@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

 * {
   margin: 0;
   padding: 0;
   border:  none;
 }

 body {
    font-family:Lora, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
 }
 h1, h2, h3 {
    font-family:Lora, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
 }
 #logo {
   float: left;
   font-size: 300%;
   margin-left: 70px;
   text-transform: uppercase;

    animation-name: hero-zoom;
    animation-duration: 5s ;
    animation-fill-mode: forwards;
 }
 #menu {
   font-size: 120%;
   letter-spacing:  5px;
   margin-right: 70px;
   }

#menu, #logo {
   line-height: 75px;
}
#menu li {
   float: right;
   list-style-type: none;
   margin-right: 10px;
}
#menu a {
   text-decoration: none;
   color: inherit;
}
#menu a:hover {
   border-bottom: 1px solid #454B1B;
}
.active {
   border-bottom: 1px solid #3a3a3a;
}

#hero-outer{
   height: 600px;
   width: 100%;
   overflow: hidden;
}

#cover-text, #cover-text h2 {
   color: #fff;
   }

#hero-image {
   height: 600px;
   width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;

 /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s ;
    animation-fill-mode: forwards;
}


/* creates the level of zoom for hero image */
@keyframes hero-zoom {
   from{
      transform: scale(1);
   }
   to {
      transform: scale(1.1);
   }
}

   #headingthree {
   text-align: center;
   font-size: 200%;
   padding-top: 50px;
   padding-bottom: 80px;
  
   }

  

  

   /* Grid */
    .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em;
      grid-auto-rows:minmax(100px, auto);
      padding: 100px;
      
    }
 
   .wrapper > div {
      background-size: cover;
      background-attachment: fixed;
      padding-left: 2em;
     
   }
   .h3wrapper{
      text-align: center;
      font-size: 200%;
      padding-top:  50px;
      padding-bottom: 10px;
     
   }

 
   .testimonials p {
      font-size: 130%;
      font-weight: 300;
      padding-bottom: 10px;
   
      }

      .testimonials h4 {
         font-size: 130%;
         letter-spacing: 1px;
         padding-bottom: 10px;
      }
      
 


#conteiner {
   background-image: url("../images/front-of-house.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   overflow: hidden;
   font-family: Lora, sans-serif;
   height: 400px;
}
.shadowriveroffer {
color: #fafafa;
background-color: rgba(58, 58, 58, .5);
width: 33.3%;
height: 400px;
float: left;
padding: 30px 0 0 10px;
text-align: center;
border: 2px solid white;
box-sizing: border-box;

}

.shadowriveroffer h4 {
color: #fafafa;
padding-top: 100px;
padding-bottom: 20px;
font-size: xx-large;


}

.shadowriveroffer p {
font-size: 130%;
font-weight: 400;
padding-bottom: 10px;

}





 


  /* footer */

  footer  {
   height: 10rem;
   background-color: rgba(58, 58, 58);
 }
 
 .social-networks  {
   display: flex;
     flex-direction: row;
     justify-content: space-evenly;
   list-style-type: none;
 }
 
 .social-networks i  {
   padding-top: 50px;
   font-size: 2rem;
   color: rgba(247, 245, 243, 0.97);
 }
 

 
  /* gallery */ 

  

  .conteiner {
      padding-top: 5px;
      padding-bottom: 10px;
      
     
      
}

   .slider-wrapper {
   position: relative;
   max-width: 48rem;
  margin: 0 auto;
}
.slider {
   display: flex;
   aspect-ratio: 16 / 9;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
   border-radius: 0.5rem;
}
.slider img {
   flex: 1 0 100%;
   scroll-snap-align: start;
   object-fit: cover;
}



.gallerydescription p {
   text-align: center;
   font-size: 100%;
   font-weight: 300;
   padding-bottom: 20px;
   padding-left: 500px;
   padding-right: 500px;
   max-width: 1200px;
  

}

  
.camera p {
   text-align: center;
   font-size: 100%;
   font-weight: 100;
   padding: 50px 0 10px 0 ;
   font-family: lora, sans-serif;
   
}




.gallerydescription h3{
   text-transform: uppercase;
    font-size: 200%;
    padding-top: 200px;
    padding-bottom: 15px;
    text-align: center;

   
      
}



   #photolink {
    font-size: 100%;
     color: #3a3a3a;
     padding-left: 1100px;
     
    
   }
  
 
  
   
     /* book */


     .form-section {
      clear: left;
      background: url(../images/for-contact-form.jpg) ;
      background-size: cover;
  
     background-position: center;
     height: 700px;
    }
     

    .container-form {
      margin:90px 50px 0 0 ; 

     color:#fff; 

     background-color:#3a3a3a; 

     height: 400px;
     width: 500px;

    float: right;
     padding: 20px;
    }

    form {
      display: grid;
      row-gap: 20px;
  }
  
  .form-field {
      display: flex;
      justify-content: space-between;
  }
  
  input, select {
      padding: 10px 15px;
  }
  
  .btn {
      background-color: rgba(12, 71, 102);
      color: #fff;
      padding: 10px 20px;
      border: none;
      font-size: 1.2rem;
      border-radius: 100px;
      box-shadow: 8px 10px 12px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all .3s;
  }
  
  .btn:hover {
      transform: scale(1.03);
      box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.3);
  }

     /* Where we are */

     .where-we-are{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
      grid-auto-rows:minmax(100px, auto);
      padding: 70px;
      
  }
  #headingthreemap {
   text-align: center;
   font-size: 200%;
   padding-top: 50px;
   
  
   }

    .adress-conteiner{
      float:left;
      justify-content: center;
      align-items: center;
      padding-left: 400px;
      padding-top: 80px;

      display: inline;
      width: 400px;
  }

  .adress-conteiner h4{
     letter-spacing: 1px;
     padding-bottom: 5px;
     font-size: larger;
    
  }
  .adress-conteiner p {
        padding-bottom: 5px;
        font-size: large;
  }
 
  
 
 
    
 
  
  


      


      
      

  /* media queries */

   /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}


   
        







