 @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Vollkorn:ital@0;1&display=swap');

 * {
   margin: 0;
   padding: 0;
   border:  none;
 }

 body {
    font-family: Lora, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
 }
 h1, h2 {
    font-family: Lora, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
 }
 #logo {
   float: left;
   font-size: 300%;
   margin-left: 70px;
   text-transform: uppercase;

    animation-name: hero-zoom;
    animation-duration: 5s ;
    animation-fill-mode: forwards;
 }
 #menu {
   font-size: 120%;
   letter-spacing:  5px;
   margin-right: 70px;
   }

#menu, #logo {
   line-height: 75px;
}
#menu li {
   float: right;
   list-style-type: none;
   margin-right: 10px;
}
#menu a {
   text-decoration: none;
   color: inherit;
}
#menu a:hover {
   border-bottom: 1px solid #454B1B;
}
.active {
   border-bottom: 1px solid #3a3a3a;
}

#hero-outer{
   height: 600px;
   width: 100%;
   overflow: hidden;
}

#cover-text, #cover-text h2 {
   color: #fff;
   }

#hero-image {
   height: 600px;
   width: 100%;
    background: url(../images/hero-image1.jpg) no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s ;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
   from{
      transform: scale(1);
   }
   to {
      transform: scale(1.1);
   }
}

   #headingthree {
   text-align: center;
   font-size: 200%;
   padding-top: 50px;
   padding-bottom: 80px;
   animation-name: hero-zoom;
   animation-duration: 5s ;
   animation-fill-mode: forwards;
   }

  

  

   /* Grid */
    .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em;
      grid-auto-rows:minmax(100px, auto);
      padding: 100px;
      
    }
 
   .wrapper > div {
      background-size: cover;
      background-attachment: fixed;
      padding-left: 2em;
     
   }
   .h3wrapper{
      text-align: center;
      font-size: 200%;
      padding-top:  50px;
      padding-bottom: 10px;
     
   }

 
   .testimonials p {
      font-size: 130%;
      font-weight: 300;
      padding-bottom: 10px;
   
      }

      .testimonials h4 {
         font-size: 130%;
         letter-spacing: 1px;
         padding-bottom: 10px;
      }
      
 


#conteiner {
   background-image: url("../images/front\ of\ house\ 2.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   overflow: hidden;
   font-family: Lora, sans-serif;
   height: 400px;
}
.shadowriveroffer {
color: #fafafa;
background-color: rgba(58, 58, 58, .5);
width: 33.3%;
height: 400px;
float: left;
padding: 30px 0 0 10px;
text-align: center;
border: 2px solid white;
box-sizing: border-box;

}

.shadowriveroffer h4 {
color: #fafafa;
padding-top: 100px;
padding-bottom: 20px;
font-size: xx-large;


}

.shadowriveroffer p {
font-size: 130%;
font-weight: 400;
padding-bottom: 10px;

}





 


  /* footer */

  footer  {
   height: 10rem;
   background-color: rgba(58, 58, 58);
 }
 
 .social-networks  {
   display: flex;
     flex-direction: row;
     justify-content: space-evenly;
   list-style-type: none;
 }
 
 .social-networks i  {
   padding-top: 50px;
   font-size: 2rem;
   color: rgba(247, 245, 243, 0.97);
 }
 

 
  /* gallery */ 

  

  .conteiner {
      padding-top: 5px;
      padding-bottom: 10px;
      
     
      
}

   .slider-wrapper {
   position: relative;
   max-width: 48rem;
  margin: 0 auto;
}
.slider {
   display: flex;
   aspect-ratio: 16 / 9;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
   border-radius: 0.5rem;
}
.slider img {
   flex: 1 0 100%;
   scroll-snap-align: start;
   object-fit: cover;
}



.gallerydescription p {
   text-align: center;
   font-size: 100%;
   font-weight: 300;
   padding-bottom: 20px;
   padding-left: 500px;
   padding-right: 500px;
   max-width: 1200px;
  

}

  
.camera p {
   text-align: center;
   font-size: 100%;
   font-weight: 100;
   padding: 50px 0 10px 0 ;
   font-family: lora, sans-serif;
   
}




.gallerydescription h3{
   text-transform: uppercase;
    font-size: 200%;
    padding-top: 200px;
    padding-bottom: 15px;
    text-align: center;

   
      
}



   #photolink {
    font-size: 100%;
     color: #3a3a3a;
     padding-left: 1100px;
     
    
   }
  
  
  
   
     /* book */


     .form-section {
      clear: left;
      background: url(../images/house\ for\ contact\ form.jpg) ;
      background-size: cover;
  
     background-position: center;
     height: 700px;
    }
       .signup-form {
     margin:150px 10% 0 0;
     color:#fff;
     background-color:#3a3a3a;
     max-width:400px;
     float: right;
     left: 10px;
     
    padding: 10px;
      
    }
      .signup-form > h2 {
     color:#fafafa;
     margin-bottom:20px;
    }
     .text-input {
     background: transparent;
     color:#fafafa;
     width:100%;
     height:25px;
     margin:5px 0 20px 0;
     border:1px solid #fafafa;
     border-radius:2px;
    }
      .text-input:hover {
    border-color:#454B1B;
     
    }
      .join-button {
     margin-top:20px;
     margin-left: 25px;
     padding-left: 5px;
      }

      .mapouter {
         position:relative;
         text-align:center;
         height:400px;
         width:100%;
         padding: 10px 0 10px 0;
        
         
      }

      
      

  /* media queries */

   /* for medium screens from 950px wide and down */

   @media screen and (max-width: 950px) {

          

         } 
         

    /* for larger and medium screens */

   @media screen and (max-width: 1200px) {

          
      }
        







